---
apiVersion: v1
kind: Secret
metadata:
  name: hcloud
  namespace: kube-system
stringData:
  token: "{{ kubernetes_hetzner_api_token }}"
  network: "{{ kubernetes_hetzner_network_id }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: hcloud-csi
  namespace: kube-system
stringData:
  token: "{{ kubernetes_hetzner_api_token }}"
